@model IEnumerable<JHOEC.Models.Plot>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Plot listing";
    var head = "";
    if (Context.Session.GetString("accessRoute")=="crop")
    {
        head=$"Plot list for {Context.Session.GetString("cropName")}";
    }
    else
    {
        head = $"Plot list for {Context.Session.GetString("varietyName")}";
    }
    ViewData["spe"] = head;
}
<h2>@ViewData["spe"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-filter="farm">@Html.DisplayNameFor(model => model.Farm.Name)</a>            
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variety.Crop.Name)
            </th>
            <th>
                <a asp-route-filter="variety">@Html.DisplayNameFor(model => model.Variety.Name)</a>
            </th>

            <th>                
                   @Html.DisplayNameFor(model=>model.DatePlanted)
            </th>
            <th>
                <a asp-route-filter="cec">@Html.DisplayNameFor(model => model.Cec)</a>                
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Farm.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety.Crop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DatePlanted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cec)
            </td>
            <td>
                @foreach (var treat in item.Treatment)
                {
                    @treat.Name<br />
                }
            </td>
            <td>
                <a asp-action="Index" asp-controller="JHTreatment" asp-route-farmName="@item.Farm.Name" asp-route-plotId="@item.PlotId">Manage Treatments</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlotId">Delete</a> |

            </td>
        </tr>
}
    </tbody>
</table>
