@model IEnumerable<JHOEC.Models.Treatment>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Treatment Listing";
    
    ViewData["spe"] = $"Treatment listing for {Context.Session.GetString("farmName")}";

}

<h2>@ViewData["spe"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moisture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yield)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>

            <th></th>
        </tr>
    </thead>
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="index" asp-controller="JHTreatmentFertilizer" asp-route-treatmentId="@item.TreatmentId">@Html.DisplayFor(modelItem => item.Name)</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moisture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.TreatmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TreatmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TreatmentId">Delete</a>
            </td>
        </tr>

}
    </tbody>
    
</table>
<span>
    <a asp-controller="JHPlot" asp-action="Index" asp-route-plotId="@Context.Session.GetString("plotId")">Back To Plot Listing</a>
</span>
